@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
    --main-color: #9F5C44;
    --second-color: #64342C;
    --third-color: #644C2C;
    --fourth-color: #392414;
    --fifth-color: #1F232C;
    --sixth-color: #e7a891;
    --black: #13131a;
    --bg: linear-gradient(#ffffff, #1261a0);
    --border: .1rem solid rgba(255,255,255,.3);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem; 
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body {
    background-image: var(--bg);
}

section {
    padding: 2rem 7%;
}




.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 50px;
    font-size: 4rem;
    margin-top: 50px;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
    align-items: center;
}

.about .row {
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.about .row .image {
    flex: 1 1 40rem;
}

.about .row .image img {
    width: 70%;
    height:50%;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
    align-items: center;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}






